<h1>New Vaccination</h1>

<div class="row">
  <div class="col-md-8 top-marg-large">
    <%= render 'form', vaccination: @vaccination %>
  </div>
</div>

<%= link_to 'Back', vaccinations_path, class: 'btn' %>
