
<div class="text-center top-marg-large">
  <h2><%= @vaccination.title %></h2>
</div>

<div class="top-marg-large">
  <%= link_to 'Edit', edit_vaccination_path(@vaccination), class: 'btn btn-light' %> |
  <%= link_to 'Back', vaccinations_path, class: 'btn btn-light' %>
</div>
