<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vaccination.title %>
</p>

<%= link_to 'Edit', edit_vaccination_path(@vaccination) %> |
<%= link_to 'Back', vaccinations_path %>
