<footer class="pt-4 my-md-5 pt-md-5 border-top foot-pos">
  <div class="row">
    <div class="col-12 col-md">
      <%= image_tag 'company_logo.png', width: '75px', alt: 'your company logo', class: 'mb-2' %>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
  </div>
</footer>