<div class="text-center">
  <div class="top-marg-large">
    <h1>Welcome</h1>
    <h3>Please sign up or log in</h3>
    <p><small>login as admin to view all functionality</small></p>
    <p><small>Email: test@test.com  Password: hoagie573</small></p>
    <div class="top-marg-large bot-marg-large">
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-secondary btn-block btn-marg' %>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-secondary btn-block btn-marg' %>
    </div>
  </div>
</div>