<div class="text-center">
  <div class="top-marg-large">
    <h1>Welcome</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="top-marg-large bot-marg-large">
        <div class="top-marg">
          <%= link_to "Create New Vaccination Form", new_user_form_path, class: 'btn btn-outline-secondary btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>